*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Fira Sans', sans-serif;*/

}

.text_t{
	font-family: 'Fira Sans', sans-serif;

}

.carousel-item img{
	width: 100%;
	height: 80vh;
}

.carousel-caption{
	    margin-top: 0;
    margin-bottom: 12.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.about_img{
	min-width: 100%;
	max-height: 280%;
}

.carousel-item-2 img{
	width: 100%;
	height: 60vh;
}

.offer_style{
	background: #101010;
	color: white;
}
